.category-card {
    max-width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.category-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.category-card-action {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.category-card-media {
    width: 100%;
    height: 140px;
    object-fit: contain !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.category-card-content {
    display: flex;
    min-height: 140px;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
}

.category-card-name {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .category-card-status {
   
} */

.category-card-description {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: box;
    min-height: 50px;
    box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-height: 4.2em;
}
